<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1067297595473-juunm9a7clq59a89ed0vdacepvsrc758.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067297595473-juunm9a7clq59a89ed0vdacepvsrc758</string>
	<key>API_KEY</key>
	<string>AIzaSyBIOciYHEKjxpYpI4eiwMIpeWS3xNyvumQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1067297595473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fastTechApp</string>
	<key>PROJECT_ID</key>
	<string>fasttechnotification</string>
	<key>STORAGE_BUCKET</key>
	<string>fasttechnotification.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067297595473:ios:64bdd7b61d9f7890b7d870</string>
</dict>
</plist>